<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form name="form-content" onsubmit="return validateForm()">
		<h2>Select Your Subjects</h2>
			<input type="checkbox" value="Subject 1">
		 	<label> Operating System</label>
			<br><br>
			<input type="checkbox" value="Subject 2">
			<label> DBMS</label>
			<br><br>
			<input type="checkbox" value="Subject 3">
			<label> Advance Algorithm Analysis</label>
			<br><br>
			<input type="hidden" value="ans"/>
			<button type="submit">Continue</button>
		<p id="txt"></p>
	</form>
</body>
</html>